# Why do we use requirements.in?
# #1: Your requirements.txt contains just the first degree dependencies and their versions. Your dependencies also have dependencies (2nd+ degree), and these versions are not necessarily locked down -> solution: pip freeze > requirements.txt
# #2: Pip freeze introduce new problem: once you want to delete a dependency, how do you know that you’ve deleted all their dependencies?
# ==> Solution: use pip-compile by requirements.in

duckdb
pydantic
Flask
google-cloud-storage
apache_ranger
pyyaml
click
sqlglot[rs]==20.5.0
google-cloud-bigquery==3.13.0
fastapi==0.110.1
uvicorn==0.29.0
jinja2==3.1.2
python-dateutil
